* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg, #2e6755, #9aeabc);
}
#popUp{
    position: absolute;
    align-items: center;
    top:35%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:800px;
    height: 800px;
    display:none;
    z-index: 1000;
    overflow: invisibile;
    pointer-events: none;
    
}
#popUp1{
    position: absolute;
    align-items: center;
    top:79%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:265px;
    height: 265px;
    display:none;
    z-index: 999;
    border: 5px solid white;
    overflow: invisibile;
    pointer-events: none;
    
}
#popUp2{
    position: absolute;
    align-items: center;
    top:66%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:800px;
    height: 100px;
    display:none;
    z-index: 1000;
    overflow: invisibile;
    pointer-events: none;
    
}
#popUp3{
    position: absolute;
    align-items: center;
    top:80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    height: 250px;
    border: 7px solid black;
    display:none;
    z-index: 999;
    overflow: invisibile;
    pointer-events: none;
    
}
#imageContainer{
    position: absolute;
    display: flex;
    align-items: center;
    margin-left: 11%;
    justify-content: left;
    height:70vh;
    padding: 10px;
}
#image1{
    position: absolute;
    margin-top: -240px;
    padding: 1em;   
    width: auto;
    height: auto;
    scale: 155%;
}
#imageContainer2{
    position: absolute;
    display: flex;
    left: 97%;
    align-items: center;
    justify-content: right;
    height:70vh;
    padding: 10px;
}
#image2{
    position: absolute;
    margin-top: -240px;
    padding: 1em;   
    width: auto;
    height: auto;
    scale: 55%;
}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-top: 3px;
    padding-bottom: 20px;
}

.quiz{
    padding: 20px 0;
}

.quiz h2{
    font-size: 18px;
    color: #001e4d;
    font-weight: 600;
    margin-bottom: 6px;
}
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}
.btn:hover:not([disabled]){
    background: #222;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop;
}
#next-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
#progressContainer{
    width: 100%;
    background-color: #fff;
    border-radius: 8px;
    margin-top: 20px;
    height: 20px;
}
#progressBar {
    width: 0%;
    height: 100%;
    background-color: #53a48a;
    border-radius: 8px;
    transition: width 0.3s;
}
#lang{
    background: #fff;
    color: #080101;
    font-weight: 500;
    width: 80px;
    padding: 10px;
    margin: 20px auto 0;
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
}
#lang:hover{
    background: #d1cdcd;
    color: #050000;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}
#muteButton{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    font-size: 28px;
    cursor: pointer;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    border-radius: 5px;
}
#muteButton:hover {
    background-color: rgba(0,0,0,0.8);
}
